/* You can add global styles to this file, and also import other style files */

.success-banner {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-banner {
    width: 100%;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Error Highlighting for Input Fields */
input.ng-invalid.ng-touched {
    border-color: #e74c3c;
}

/* Error Message Styling */
.input-error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}